.sortByProduct .ant-select-selector {
    border: none !important;
}
.sortByProduct .ant-select-selection-item {
    font-weight: bold;
}

.btn__custom-filter:hover {
    color: #fff !important
}

.ant-pagination .ant-pagination-item-active {
    border-color: black !important;
}
.ant-pagination .ant-pagination-item-active a{
    color: black !important;
    
}